@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: var(--font-inter); */
}

.flex_center {
  @apply flex justify-center items-center;
}

.flexc_center {
  @apply flex flex-col justify-center items-center;
}

code {
  white-space: pre-wrap !important;
}
.prose {
  /* @apply whitespace-pre-wrap; */
}
.bg_home {
  background: url('/galaxy2.webp');
  @apply bg-center bg-cover bg-fixed;
}

#password {
  --color: #0f7743;
  user-select: none;
  label,
  input {
    cursor: pointer;
  }
  label {
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 5px;

    input[type='checkbox'] {
      appearance: none;
      border: 1px solid rgb(112, 111, 111);
      width: 25px;
      height: 25px;
      background-color: lightgray;
      border-radius: 3px;
      font-size: 1em;
      font-weight: bold;
      color: lightgray;
      text-align: center;
      transition: 0.3s;
    }

    input[type='checkbox']:checked {
      border: 1px solid var(--color);
      background-color: #a1d3eb;
      text-align: center;
      color: var(--color);
    }
    input[type='checkbox']::after {
      content: '✓';
    }
    input[type='checkbox']:checked::after {
      content: '✓';
    }
  }
}
