@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: var(--font-inter); */
}

.flex_center {
  @apply flex justify-center items-center;
}

.flexc_center {
  @apply flex flex-col justify-center items-center;
}

code {
  white-space: pre-wrap !important;
}
.prose {
  /* @apply whitespace-pre-wrap; */
}
.bg_cover {
  @apply bg-center bg-cover bg-fixed;
}
.bg_home {
  background: url('/galaxy2.webp');
  @apply bg_cover;
}
.bg_journals {
  background: url('/galaxy4.webp');
  @apply bg_cover;
}
.bg_password {
  background: url('/galaxy.webp');
  @apply bg_cover;
}
.bg_contact {
  background: url('/galaxy.webp');
  @apply bg_cover;
}

#password {
  --color: #0f7743;
  user-select: none;
  label,
  input {
    cursor: pointer;
  }
  label {
    display: flex;
    align-items: center;
    margin: 5px;
    gap: 5px;

    input[type='checkbox'] {
      appearance: none;
      border: 1px solid rgb(112, 111, 111);
      width: 25px;
      height: 25px;
      background-color: lightgray;
      border-radius: 3px;
      font-size: 1em;
      font-weight: bold;
      color: lightgray;
      text-align: center;
      transition: 0.3s;
    }

    input[type='checkbox']:checked {
      border: 1px solid var(--color);
      background-color: #a1d3eb;
      text-align: center;
      color: var(--color);
    }
    input[type='checkbox']::after {
      content: '✓';
    }
    input[type='checkbox']:checked::after {
      content: '✓';
    }
  }
}

.h-content-area {
  @media (min-height: 600px) {
    /* color: red; */
  }
  @media (min-height: 901px) {
    min-height: calc(100vh - 160px);
  }
}

.contact {
  @apply bg-[#bbdce9] p-5 rounded-md select-none;

  label {
    @apply flex flex-col;
    input,
    textarea {
      @apply outline-none border border-[gray] focus:border-[#089ea8] focus:border p-2 rounded-md font-[Consolas];
    }
    input {
      /* @apply; */
    }
  }

  .actions {
    @apply flex gap-3 justify-center mt-2;
    button {
      @apply bg-[#8dc0cf] rounded-md p-2 hover:bg-[#7eaece] border border-[#7eaece] hover:border hover:border-[#5e8ead];
    }
  }
}
